<section class="impact-section">
    <div class="impact-content">
      <h2>Making a Difference</h2>
      <p>More than <strong>2.2 billion</strong> people globally suffer from vision impairment. Our goal is to leverage AI to assist doctors in providing early diagnosis and personalized treatment plans, reducing preventable blindness and improving quality of life for millions. By integrating cutting-edge technology with clinical expertise, we empower healthcare professionals to deliver precise, timely, and accessible eye care—transforming challenges into opportunities for global impact.</p>
    </div>
    <div class="impact-image">
      <img src= "../../../assets/images/stats.png" alt="Impact of Eye Diseases">
    </div>
  </section>
  