<footer>
    <div class="wrapper">
        <div class="footer-logo">
            <h1 class="logo">Visio<span class="color">Glance</span></h1>
            <p class="footer-description">
                Visio Glance is dedicated to leveraging AI-powered vision technologies to assist doctors in diagnosing 
                diseases with precision and efficiency. Our mission is to integrate innovation with healthcare, making 
                diagnostics faster, more accurate, and accessible to all.
            </p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>About</h5></li>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul>
                <li><h5>Support</h5></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
            <ul>
                <li><h5>Legal</h5></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 VisioGlance. All rights reserved.</p>
    </div>
</footer>
