<section class="vision-section">
    <div class="vision-image">
      <img src="../../../assets/images/aieye.jpg" alt="Vision for the Future">
    </div>
    <div class="vision-content">
      <h2>Our Vision</h2>
      <p>We aim to bridge the gap between medical expertise and AI-driven diagnostics, enhancing healthcare efficiency and accuracy. Through innovation and collaboration, we envision a world where advanced technology democratizes eye care, ensuring equitable access to early detection and treatment for all, regardless of geography or resources.</p>
    </div>
  </section>
  